body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  border-radius: 15px;
  width: 300px;
  padding: 24px;
}
input:focus,
button:focus {
  outline: none;
}
button {
  margin-top: 18px;
  width: 60%;
  padding: 6px 12px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bolder;
  cursor: pointer;
}
li {
  list-style-type: none;
  background-color: white;
  margin-top: 9px;
  padding: 6px 18px;
  width: 30%;
  text-align: center;
  text-transform: capitalize;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 300px;
  flex-wrap: wrap;
}
